<!-- Modal -->
<div id="aboutModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        About
      </div>
      <div class="modal-body">
        Wikky's aims to connect the neighborhood to a dining experience in the same way ingredients are connected to food.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>