<!-- Modal -->
<div id="contactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        Contact
      </div>
      <div class="modal-body">
        <h1>Phone:</h1>
        <h2>:: 510-509-8861</h2>
        <h1>Email:</h1>
        <h2>:: mail@wikkys.com</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>