<style>
	
	.first {
	}

</style>

<div class="container shopfront">
	
	<h1>Our Famous Gift Baskets</h1>
	<hr>

	<div class="row table-row">
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 first">
			<img src="<%= asset_path("minis.svg") %>" class="img-responsive" alt="">
			<h3>Minis | $25</h3>
			<small>Minimum Order: 30</small>
		</div>

		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<img src="<%= asset_path("small.svg") %>" class="img-responsive" alt="">
			<h3>Medium | $35</h3>
			<small>Sold Individually</small>
		</div>
		
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<img src="<%= asset_path("large.svg") %>" class="img-responsive" alt="">
			<h3>Large | $65</h3>
			<small>Sold Individually</small>
		</div>

	</div>

	<br>
	<hr>
</div>