/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require photoswipe
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600,700|Oswald:400,700|Montserrat:400,700);
// font-family: 'Oswald', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Montserrat', sans-serif;

body {
  background: #fea47f; /* fallback for old browsers */

  // height:100%;
}

.border-bottom {
  border: none !important;
}

.hidden {
  display: none;
}

.green-text {
  color: #6ab04c;
}

// #FEA47F

.border {
  margin: 30px;
  background-color: #fff;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
// .border-left {
//     border-left: 34px solid #FEA47F;
//     position: fixed;
//     border-top: none;
//     // z-index: -9999;
//     height: 100%;
//     left: 0;
//     width: auto;
// }

// .border-right {
//     border-right: 34px solid #FEA47F;
//     position: fixed;
//     border-top: none;
//     // z-index: -9999;
//     height: 100%;
//     right: 0;
//     width: auto;
// }

// .border-bottom {
//     border: 34px solid #FEA47F;
//     position: fixed;
//     border-top: none;
//     // z-index: -9999;
//     height: auto;
//     bottom: 0;
//     width: 100%;
// }

// .border {
//   position: sticky;
//   top: 0;
//   left: 0;
//   border: 34px solid #FEA47F;
//   border-bottom: none;
//   // width: 100%;
//   // height: 100%;
//   margin: 0;
//   padding: 0;
//   padding-bottom: 80px;
//   box-sizing: border-box;
// }

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
  text-decoration: none;
}

.navbar {
  background-color: #ffffff;
  border: none;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.navbar-toggle {
  z-index: 3;
}

.navbar-nav {
  padding: 20px 0 20px 0;
}

@media (max-width: 768px) {
  .navbar-brand {
    height: 80px; // Logo will not overhang
  }
  #LC-navbar {
    background-color: #ccc; // Change background color
  }
  .navbar-toggle {
    margin-top: 25px; // Adjust toggle position
  }
}

.nav-logo {
  width: 225px;
  margin: 0 auto;
}

.navbar-nav li > a {
  color: #1c1f23 !important;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.shopfront {
  text-align: center;

  .product img {
    border: 10px solid transparent;
    transition: 0.5s;
  }

  .product img:hover {
    border: 10px solid #d68c9c;
    transition: 0.5s;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }

  small {
    color: #828282;
  }
}
