.mobile {
  padding-bottom: 11em;

  .left-text,
  .right-text {
    font: 14px "Source Code Pro", monospace;
    color: #333;
    display: block;
    max-width: max-content;
    margin: 0 auto;
  }

  .product img {
    max-width: 100% !important;
  }

  .section-title {
    font-size: 5em;
    padding: 0.5em 0;
  }

  // Logo
  .logo {
    max-width: 100%;
  }

  // Shopfront
  .show-product {
    max-width: 100%;
    img {
      max-width: 100%;
      width: 100%;
    }
    .product-title {
      font-size: 6em;
      padding: 0.5em;
    }

    form {
      h3 {
        font-size: 3em;
        padding: 1em;
      }
      .spinner {
        max-width: 100%;
        display: table;
      }
      .btn-group button {
        font-size: 4em;
      }

      .usd-cost {
        font-size: 4em;
        padding: 0.3em;
      }

      .requests-label {
        font-size: 3em;
      }

      textarea {
        font-size: 54px;
      }

      .buy-now {
        font-size: 5em;
      }
    }
  }

  // Products
  .products {
    .product {
      .bottom-card {
        border: 1px solid;
        padding: 40px;
        border-radius: 0 0 10px 10px;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: -10px;
        max-width: 97%;
        display: block;

        .product-title {
          font-size: 5em;
        }

        .product-cost {
          font-size: 7em;
        }

        small {
          font-size: 2em;
        }
      }
    }
  }
}
